<%= form_for @question do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.label :resolved %>
    <%= f.check_box :resolved %>
  </div>
  <div>
    <%=f.submit "Save" %>
  </div>
<% end %>
